@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

h3 {
  font-weight: 300;
}
/* 
@media (max-width: 768px) {
  .navbarcenter {
    display: none;
  }
  .logo {
    padding-left: 0px;
    height: 30px;
  }
  .searchbutton{
    display: none;
  }
} */

.Navbar {
  margin-top: 15px;
  width: 100%;
  overflow: hidden;
  height: 60px;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-left: 30px;
  height: 40px;
}

.navbarcenter {
  display: flex;
}

.navbarcenter button {
  background-color: white;
  border-radius: 30px;
  border: solid black 0px;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}
.navbarcenter button:hover {
  background-color: #cbcbcb;
}

.active {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.navbarend {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;

  margin: var(--margin-scale);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: solid 1px black;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

@media (min-width: 768px) {
  .menuicon {
    display: none;
  }
}

.myaccount {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}
.favourites {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.searchbutton {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.menusection {
 background-color: #bbbbbb;
  z-index: 100;
  display: flex;
  flex-direction: column;
  top: 0px;
  border-radius: 30px;
  position: fixed;
  top: 100px;
  right: 0px;
  display: flex;
  flex-direction: column;
}

.menusection button {
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 50px;
  font-size: 30px;
  width: 50vw;
  backdrop-filter: grayscale(30%);
  background-color: rgb(222, 222, 222);
  margin: 10px;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .navbarcenter {
    display: none;
  }
  .logo {
    padding-left: 10px;
    height: 30px;
  }
  .searchbutton {
    display: none;
  }
}
